.app {
    
    padding: 20px;
    font-family: Arial, sans-serif;
}

.courses {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.course-card {
    width: 20%; /* Adjust this value as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px; /* Adjust as needed */
  box-sizing: border-box;
  background-color: #fff; /* Optional background color */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
  border-radius: 5px;
}

.course-card:hover {
    transform: scale(1.04);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.course-card h2 {
    background-color: #f8f8f8;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 18px;
    color: #333;
}

.course-card p {
    background-color: #f0f0f0;
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
    padding: 10px;
}
